body {
  background-color: #0B4F6C; /* solid color */
}

* {
  margin: 0;
}

#home-page {
  width: 100%;
  text-align: center;
  padding-top: 180px;
  flex: 1;
  align-self: flex-start;
}

#large-logo {
  width: 550px;
  height: 150px;
}

#subtitle {
  font-size: 40px;
  color: #C2DFE3;
  padding-top: 20px;
}

#waves {
  position: absolute;
  padding-top: 100px;
  bottom: 0;
  left: 0;
  width: 100%;
}

#enter-button {
  margin-top: 100px;
  height: 122px;
  width: 410px;
  font-size: 35px;
  color: #C2DFE3;
  background-color: #A63446;
  border: 2px solid #A63446;
  border-radius: 25px;
  cursor: pointer;
}

/* Fonts */
.nova-oval-regular {
  font-family: "Nova Oval", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bree-serif-regular {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}
