body {
  background-color: #0B4F6C;
}

* {
  margin: 0;
}

#home-page {
  width: 100%;
  text-align: center;
  flex: 1;
  align-self: flex-start;
}

#home-large-logo {
  padding-bottom: 5vh;
}


#home-subtitle {
  font-size: clamp(20px, 4vw, 40px); /* scales between 20px and 40px */
  color: #C2DFE3;
  font-family: 'Nova Oval', cursive;
  padding-top: 2vh;
  line-height: 1.2;
}

#home-waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#home-enter-button {
  margin-top: 12vh;
  height: clamp(70px, 10vh, 122px);
  width: min(410px, 80vw);
  font-size: clamp(18px, 3vw, 35px);
  font-family: 'Bree Serif', serif;
  color: #C2DFE3;
  background-color: #A63446;
  border: 2px solid #A63446;
  border-radius: 25px;
  cursor: pointer;
  line-height: 1.1;
}

