body {
  background-color: #0B4F6C;
}

* {
  margin: 0;
  box-sizing: border-box;
}

#home-page {
  width: 100%;
  text-align: center;
  padding-top: 10vh;
  flex: 1;
  align-self: flex-start;
}

h1#Heading-complete {
  font-size: clamp(36px, 6vw, 74px);
  color: #C2DFE3;
  font-family: 'Bree Serif', serif;
}

#waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#next-button {
  height: clamp(55px, 7vh, 75px);
  width: min(350px, 70vw);
  font-size: clamp(20px, 3vw, 35px);
  font-family: 'Bree Serif', serif;
  color: #C2DFE3;
  background-color: #A63446;
  border: 2px solid #A63446;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 7vh;
  margin-bottom: 4vh;
}

#progress-container {
  width: min(900px, 85vw);
  height: clamp(20px, 2.5vh, 30px);
  background-color: #C2DFE3;
  margin-top: 5vh;
  border-radius: 50px;
  overflow: visible;
}

#progress-bar-complete {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #C2DFE3, #179EB1);
  border-radius: 50px;
}