#subheading-rating {
  font-size: clamp(16px, 2vw, 24px);
  color: #A63446;
  font-family: "Bree Serif", serif;
  font-weight: 100;
  padding-top: 5vh;
  align-self: flex-start;
  margin-top: 10vh;
}

#options-container-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: clamp(15px, 2vw, 30px);
  justify-content: center;
}

#stars-container {
  display: flex;
  gap: clamp(20px, 4vw, 60px);
  margin-top: 12vh;
}

.star {
  width: clamp(50px, 6vw, 80px);
  height: clamp(50px, 6vw, 80px);
  background-color: #179EB1;
  color: #A63446;
  font-size: clamp(16px, 2vw, 24px);
  font-family: "Bree Serif", serif;
  border: none;
  cursor: pointer;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star.selected {
  background-color: #A63446;
  color: #C2DFE3;
}